@model LoanApplicationSite.Models.ComparePlansResultConfirmation

@{
    ViewBag.Title = "Compare Plans Result";
}

<h1>Hello there </h1>

<p>First File @Model.FilesName.FileNameOne</p>
<p>First File @Model.FilesName.FileNameTwo</p>